$base: #fff3e0;
$main: #f94439;
$accent: #3abad6;
$text: #3f3f3a;

html {
  background-color: $base;
}

body {
  color: $text;
  display: grid;
  grid-template-rows: auto 1fr;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: $text;
}
ul {
  padding-inline-start: 0px;
}
li {
  list-style: none;
}
.container {
  padding: 20px 40px;
  margin: 0 auto;
}

.section-title {
  border-bottom: #3abad6 2px solid;
  padding: 5px 8px;
  display: inline-block;
}
p,
button {
  color: $text;
}

button {
  background-color: $accent;
  border: $accent;
  &:hover {
    cursor: pointer;
  }
}
input[type="file"] {
  display: none;
}

// login
.sign-in-button {
  margin: 15px;
  padding: 0 30px;
  border-radius: 30px;
  background-color: $accent;
  color: $text;
}

// header
header {
  li {
    margin: 6px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }
}

#to_login_page {
  background-color: $base;
  color: $text;
  border: $text 1px solid;
}

// modal
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.modal-inner {
  position: fixed;
  z-index: 11;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: max(350px, 65%);
  background-color: $base;
  border-radius: 20px;
  padding: 50px;
  overflow: auto;
}

.modal-dish-img {
  width: min(400px, 100%);
  aspect-ratio: 16/11;
}

// form-modal
.form-modal {
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    width: 300px;
    margin: 10px auto;
    background-color: $base;
    border: none;
    border-bottom: #3f3f3a solid 1px;
    padding: 10px;
    font-size: 20px;
  }
}

.save-btn {
  padding: 10px 30px;
  color: $text;
  border-radius: 5px;
  border: none;
  width: 100px;
  margin: 5px auto;
}
#input_label {
  color: $text;
  background-color: $base;
  border: 1px solid $text;
}

// dish-modal
#delete_btn,
#modify_btn {
  width: 50px;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

#delete_btn {
  color: $main;
}
